* {
  margin: 0;
  padding: 0;
  font-family: 'Product Sans', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/Product-Sans-Bold.ttf");
  src: url("../fonts/Product-Sans-Italic.ttf");
  src: url("../fonts/Product-Sans-Bold-Italic.ttf");
  src: url("../fonts/Product-Sans-Regular.ttf");
}
.container {
  padding: 0 10em;
}
.hero__header {
  background: url("../images/hero-background.png");
  min-height: 100vh;
  background-size: cover;
}
.hero__header__top {
  display: flex;
  padding: 2em 0;
  justify-content: space-between;
  align-items: center;
}
.hero__header__logo {
  display: flex;
  align-items: center;
}
.hero__header__logo > p {
  font-size: 30px;
  color: #ffffff;
}
.navigation__list {
  list-style: none;
  display: flex;
}
.navigation__list__item {
  color: #ffffff;
  font-size: 1.5em;
  margin: 0 1em;
}
.btn {
  box-shadow: 0px 24px 60px rgba(51, 128, 63, 0.18);
  border-radius: 5px;
  font-size: 1.5em;
  padding: 0.5em 3em;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.btn__green {
  background: #49B15A;
  color: #ffffff;
  transition-duration: 500ms;
}
.btn__green:hover {
  color: #49B15A;
  background: #ffffff;
}
.hero__header__bottom {
  padding: 10em 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  font-weight: bolder;
}
.hero__content p {
  font-size: 1.8em;
  margin-bottom: 2em;
}
.btn__big {
  font-size: 3em;
  padding: 0.3em 4em;
  font-weight: 600;
}
.circle {
  height: 14px;
  width: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin-bottom: 0.8em;
  margin-left: 4px;
}
.circle__open {
  background: transparent;
  border: 4px solid #ffffff;
  margin-left: 0;
}
.about__section {
  padding-top: 4em;
  padding-bottom: 4em;
  background: #f9f9f9;
}
.about__section__text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.about__section__text > h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
.about__section__text > p {
  font-size: 1.2em;
}
.about__section__grid {
  display: grid;
  max-width: 640px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 40px;
  margin: 6em auto;
}
.about__section__grid__item {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 3em;
  display: flex;
}
.svg__icon {
  height: 100%;
}
.grid__item__icon {
  margin-right: 2em;
}
.icon__employment {
  width: 70px;
  height: 70px;
  content: url("../images/employment.svg");
}
.grid__item__content > h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}